pipeline/pip5.json
{
	"name": "pip5",
	"properties": {
		"activities": [
			{
				"name": "sample_pip1",
				"description": "@activity('RunChildPipeline').output.RunId",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "sample_pip1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "sample_pip1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "val",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"time": {
				"type": "string",
				"defaultValue": "@trigger().scheduledTime\t"
			}
		},
		"variables": {
			"val": {
				"type": "String"
			}
		},
		"annotations": []
	}
}